$theme-colors: (
  "primary": #b4232d,
  "dark": #000000
);

@import "node_modules/bootstrap/scss/bootstrap";

body {
  font-family: "Open Sans", HelveticaNeue, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

@media (min-width: 1200px){
.container, .container-sm, .container-md, .container-lg, .container-xl {
    max-width: 1310px !important;
  }
}
blockquote{
font-style: italic;
border-bottom: 1px dotted #cccccc;
padding-bottom: 20px;
}
.navbar {
  border-bottom: 1px solid #eee;
  font-weight: bold;
  color: #111111;
}
a.nav-link {
  color: #111111;
}
.lato {
  font-family: Lato, HelveticaNeue, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.bannerBiz {
  background-repeat: no-repeat;
  background-image: url(/img/Biz-header.jpg);
  background-attachment: scroll;
  background-position: top right;
  max-height: 330px;
  background-size: cover;
}
.bannerImg {
  background-repeat: no-repeat;
  background-image: url(/img/HIPAA-HEADER-2.jpg);
  background-attachment: scroll;
  background-position: top right;
  max-height: 330px;
  background-size: cover;
}

.lead {
  font-weight: 400;
  padding-top: 10px;
  font-size: 26px;
}
.mediumFont {
  font-size: 20px;
}

/* Pricing Tables */

.pricing .card,.pricingH .card {
  transition: all 0.2s;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}
.pricing .card-top,.pricingH .card-top{
  background:#222222;
  color:#FFF;
  text-align:center;
}
.pricing .card-top h2,.pricingH .card-top h2{
  font-size:20px;
  font-weight:bold;
}
.pricing .card-mid,.pricingH .card-mid{
  background:#555555;
    background: linear-gradient(to bottom, #555555, #111111);
  color:#FFF;
  text-align:center;
}
.pricing .card-mid h5,.pricingH .card-mid h5{
  font-size:12px;
}
.pricing .card-mid h2{
  font-size:40px;
  font-weight:bold;
}
.pricing .card-mid h3{
  font-size:32px;
  font-weight:bold;
}
.pricing .card-mid .red,.pricingH .card-mid .red{
  padding-top:10px;
  color: #b4232d;
  text-transform:uppercase;
  font-weight:bold;
}
.pricing .card-body,.pricingH .card-body{
  text-align:center;
  font-size:14px;
}
@media (min-width: 576px){
.pricing .card-deck,.pricingH .card-deck {
    display: contents;
    flex-flow: row wrap;
    margin-right: -15px;
    margin-left: -15px;
}
}
section.pricing {
  background: #eeeeee;
  background: linear-gradient(to bottom, #dddddd, #eeeeee);
}

/* Color options */
.redFax {
  color: #b4232d;
}
.colorBoxLight {
  background-color: #ffffff;
  width: auto;
}
.subBannerA {
  background-color: #212529;
}
.bg-lightgrey{
  background-color: #666666;
}
.white {
  color: #ffffff;
}
.grey {
  color: #cccccc;
}
/*HEADER*/

.wideMenu {
  min-width: 300px;
}
.grey-header {
  font-size: 1em;
  color: #dddddd;
  font-weight: bold;
}
.fa-10r {
  padding-right: 10px;
}
.fa-2r {
  padding-right: 2px;
}
.menu-regular {
  font-size: 1em;
  font-weight: bold;
}
.right-dropdown-padding{
margin-left:88%;
}

/*VIDEO ON HOMEPAGE */
.vidBox {
  position: relative;
  background-color: black;
  height: 380px;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

.vidBox video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.vidBox .container {
  position: relative;
  z-index: 2;
}

.vidBox .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.1;
  z-index: 1;
}

@media (pointer: coarse) and (hover: none) {
  .vidBox {
    background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
  }
  .vidBox video {
    display: none;
  }
}


/*FOOTER*/
footer a {
  color: #ffffff !important;
}
.footer {
  margin-top: 3rem;
}

/* ICON TWEAKS */
.fa-exchange-alt {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

#broadcast-fax-jumbotron,
#broadcast-fax-signup-jumbotron,
#contact-us-jumbotron,
#cbf-jumbotron,
#developer-registration-jumbotron,
#fax-to-email-jumbotron,
#hipaa-pricing-jumbotron,
#partnerships-jumbotron,
#print-to-fax-jumbotron,
#right-fax-alternative-jumbotron,
#our-company-jumbotron,
#our-network-jumbotron {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#broadcast-fax-jumbotron {
  background-image: url("/img/broadcast-fax-logo-bg.png");
}

#broadcast-fax-signup-jumbotron {
  background-image: url("/img/broadcast-fax-signup-banner.png");
}

#contact-us-jumbotron {
  background-image: url("/img/contact-us_bg-img.jpg");
}

#cbf-jumbotron {
  background-image: url("/img/create-bf-account-banner-img.jpg");
}

#developer-registration-jumbotron {
  background-image: url("/img/developer-registration-banner-bg.jpg");
}

#fax-to-email-jumbotron {
  background-image: url("/img/fax-to-email-banner-bg.jpg");
}

#our-company-jumbotron {
  background-image: url("/img/bluesky1-1.jpeg");
  
}

#our-network-jumbotron {
  background-image: url("/img/server-rack-img.jpg");
}

#partnerships-jumbotron {
  background-image: url("/img/partnerships.jpg");
}

#print-to-fax-jumbotron {
  background-image: url("/img/printtofax-jumbotron-bg.jpg");
}

#right-fax-alternative-jumbotron {
  background-image: url("/img/rightfax-meme.png");
}

#faxtools-jumbotron {
  background-image: url("/img/faxtools-jumbotron-bg.png");
}

#hipaa-pricing-jumbotron {
  background-image: url("/img/hipaa-pricing-top-banner-img.jpg");
}

#api-faq-list {
  height: auto;
  li {
    font-size: 20px;
  }
}

#tc-list {
  list-style-type: upper-alpha;
  li {
    font-weight: bold;

    p {
      font-weight: 400;
    }
  }

  .product-text {
    color: #111;
    font-style: italic;
    font-weight: bold;
  }
}

form#search-toggle {
  position: fixed;
  margin-right: 2rem;
}

form#search-form {
  background: #fefefe;
  box-shadow: 0px 3px 13px 0px rgba(0, 0, 0, 0.2);
  padding: 0.6em;
  position: absolute;
  top: 80px;
  right: 1vw;
  z-index: 1;
}

marquee {
  img {
    position: relative;
    right: 20%;
  }
}

#blog-post {
  #blog-title {
    a {
      color: #6c757d;
    }
  }
  strong {
    color: #222;
  }
}

[id*="product-"] {
  h2 {
    color: #222;
    a {
      color: inherit;
    }
  }

  img {
    width: 60%;
  }
}