$theme-colors: (
  "primary": #b4232d,
  "dark": #000000
);

@import "node_modules/bootstrap/scss/bootstrap";

body {
  font-family: "Open Sans", HelveticaNeue, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.navbar {
  border-bottom: 1px solid #eee;
  font-weight: bold;
  color: #111111;
}
a.nav-link {
  color: #111111 !important;
}
.lato {
  font-family: Lato, HelveticaNeue, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.bannerImg {
  background-color: #222222 !important;
  max-height: 530px;
}

.lead {
  font-weight: 400;
  padding-top: 10px;
  font-size: 26px;
}
.mediumFont {
  font-size: 20px;
}

/* Pricing Tables */

section.pricing {
  background: #ffffff;
  background: linear-gradient(to right, #eeeeee, #ffffff);
}

.pricing .card {
  border: none;
  border-radius: 1rem;
  transition: all 0.2s;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.pricing hr {
  margin: 1.5rem 0;
}

.pricing .card-title {
  margin: 0.5rem 0;
  font-size: 0.9rem;
  letter-spacing: 0.1rem;
  font-weight: bold;
}

.pricing .card-price {
  font-size: 3rem;
  margin: 0;
}

.pricing .card-price .period {
  font-size: 0.8rem;
}

.pricing ul li {
  margin-bottom: 1rem;
}

/* Color options */
.redFax {
  color: #b4232d;
}
.colorBoxLight {
  background-color: #ffffff;
  width: auto;
}
.subBannerA {
  background-color: #212529;
}
.white {
  color: #ffffff;
}
.grey {
  color: #cccccc;
}
/*HEADER*/

.wideMenu {
  min-width: 300px;
}

/*FOOTER*/
footer a {
  color: #ffffff !important;
}
.footer {
  margin-top: 3rem;
}

/* ICON TWEAKS */
.fa-exchange-alt {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

#broadcast-fax-jumbotron,
#broadcast-fax-signup-jumbotron,
#contact-us-jumbotron,
#cbf-jumbotron,
#developer-registration-jumbotron,
#fax-to-email-jumbotron,
#hipaa-pricing-jumbotron,
#partnerships-jumbotron,
#print-to-fax-jumbotron,
#right-fax-alternative-jumbotron,
#our-company-jumbotron,
#our-network-jumbotron {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#broadcast-fax-jumbotron {
  background-image: url('/img/broadcast-fax-logo-bg.png');
}

#broadcast-fax-signup-jumbotron {
  background-image: url('/img/broadcast-fax-signup-banner.png');
}

#contact-us-jumbotron {
  background-image: url('/img/contact-us_bg-img.jpg');
}

#cbf-jumbotron {
    background-image: url('/img/create-bf-account-banner-img.jpg')
}

#developer-registration-jumbotron {
  background-image: url('/img/developer-registration-banner-bg.jpg');
}

#fax-to-email-jumbotron {
  background-image: url('/img/fax-to-email-banner-bg.jpg');
}

#our-company-jumbotron {
    background-image: url("/img/bluesky1-1.jpeg");
}

#our-network-jumbotron {
    background-image: url("/img/server-rack-img.jpg");
}

#partnerships-jumbotron {
    background-image: url('/img/partnerships.jpg');
}

#print-to-fax-jumbotron {
  background-image: url('/img/printtofax-jumbotron-bg.jpg');
}

#right-fax-alternative-jumbotron {
  background-image: url("/img/rightfax-meme.png");
}

#faxtools-jumbotron {
  background-image: url("/img/faxtools-jumbotron-bg.png");
}

#hipaa-pricing-jumbotron {
  background-image: url("/img/hipaa-pricing-top-banner-img.jpg");
}

#api-faq-list {
  height: auto;
    li {
      font-size: 20px;
    }
}

#tc-list {
  list-style-type: upper-alpha;
  li {
    font-weight: bold;

    p {
      font-weight: 400;
    }
  }

  .product-text {
    color: #111;
    font-style: italic;
    font-weight: bold;
  }
}
