<section class="pb-4" style="background-color: #FFF;padding-bottom:50px;border-bottom:1px solid #ccc;">
    <div class="container d-flex flex-wrap align-items-center justify-content-around" style="max-width: 1300px;">
        <div class="row"><h2 class="display-5 m-2 heavy py-4">Security is the foundation of our platform.</h2>
        </div>
    </div>
    <div class="container d-flex flex-wrap align-items-center justify-content-around  pb-5" style="max-width: 1300px;">

        <div class="row">
            <div class="p-2 col-4">
                <img class="img-fluid pr-3" src="/img/3box_hipaa2.png" style="float:left;max-width: 150px;">
                <strong>HIPAA COMPLIANT</strong><br>
                <div align="justify" style="font-size:.9em;" class="text-justifypr-3">Offering complete interoperability with your systems.
                    Whether you are utilizing an
                    EMR/EHR or a Print to Fax driver we can meet any need or requirement.</div>
            </div>
            <div class="p-2 col-4">
                <img class="img-fluid pr-3" src="/img/3box_inter.png" style="float:left;max-width: 150px;">

                <strong>INTEROPERABILITY</strong><br>
                <div align="justify" style="font-size:.9em;" class="text-justify pr-3">Integrate cloud fax using API, print driver & MFCs. No matter your
                    integration needs, we have seen it
                    before. Contact us today at 303-299-9329 to discuss your use-case.</div>
            </div>
            <div class="p-2 col-4">
                <img class="img-fluid pr-3" src="/img/3box_tls.png" style="float:left;max-width: 150px;">

                <strong>SECURE TLS 1.2</strong><br>
                <div align="justify" style="font-size:.9em;" class="text-justify">for transport and AES 256 Encryption. SSL alone doesn’t cut it. The
                    minimum standard for compliance is
                    TLS 1.2. We also Require SPF Validation as well.</div>
            </div>
        </div>
    </div>
</section>