
<section class="container mx-auto row mt-4">
   <div class="col-md-3">
     <div class="card">
       <img class="card-img-top img-fluid" src="/img/icon_hipaa1.png" alt="SECURE">
       <div class="card-body">
         <h4 class="card-title text-center">
           SECURE
         </h4>
         <p class="card-text">
           WestFax offers a fully HIPAA-PCI Certified fax API with an easy to use Restful interface. We go beyond HIPAA
           requirements to provide an industry-leading secure fax solution. SSL/PKI encryption of faxes on server and the
           only PCI-DSS Certified faxing service. Transmit medical information more efficiently via fax without
           compromising security.
         </p>
       </div>
     </div>
   </div>
   <div class="col-md-3">
     <div class="card">
       <img class="card-img-top img-fluid" src="/img/compatible.png" alt="Compatible">
       <div class="card-body">
         <h4 class="card-title text-center">COMPATIBLE</h4>
         <p class="card-text">
           Fax from any development environment. Our fax solution easily integrates with the leading EMRs, EHRs, and
           Clinical Management platforms. From XML, JSON and/or SOAP message encoding to Java, C# and PHP. Our flexible
           and consistent API interface makes your fax project a reality.
         </p>
       </div>
     </div>
   </div>
   <div class="col-md-3">
     <div class="card">
       <img class="card-img-top img-fluid" src="/img/24by7.png" alt="24 by 7">
       <div class="card-body">
         <h4 class="card-title text-center">RELIABLE</h4>
         <p class="card-text">
           Our geographically diverse network provides 99.9% up-time. Our network architecture has the capacity and speed
           to scale with your business and will deliver the first dialing attempt within 60 seconds. The WestFax topology
           aware intelligent network provides the highest successful delivery rate.
         </p>
       </div>
     </div>
   </div>
   <div class="col-md-3">
     <div class="card">
       <img class="card-img-top img-fluid" src="/img/code.png" alt="Code">
       <div class="card-body">
         <h4 class="card-title text-center">
           FOR DEVELOPERS
         </h4>
         <p class="card-text">
           By Developers. Our off-the-shelf PHP and .NET SDKs and code samples greatly simplify the development and
           implementation effort required to get you up and running with API faxing. Our technical team will assist you
           in the application process making recommendations of best practices tailored to your needs.
         </p>
       </div>
     </div>
   </div>
 </section>
 