
<section class="mt-4 mb-4">
   <div class="container d-flex flex-wrap align-items-center justify-content-around">
     <div class="p-2">
       <a href="/broadcast-fax/">
         <img class="img-fluid" src="/img/icon_networkSecure270.jpg" alt="Secure Network">
       </a>
     </div>
     <div class="p-2">
       <a href="/broadcast-fax/">
         <img class="img-fluid" src="/img/icon_network270.jpg" alt="Massive Distribution">
       </a>
     </div>
     <div class="p-2">
       <a href="/broadcast-fax/">
         <img class="img-fluid" src="/img/icon_spam270.jpg" alt="Avoid Spam Filters">
       </a>
     </div>
     <div class="p-2">
       <a href="/hipaa_details/">
         <img class="img-fluid" src="/img/icon_hipaa270.jpg" alt="HIPAA Compliant">
       </a>
     </div>
   </div>
 </section>