<section class="px-4" style="background-color: #efefef;padding-top:50px;padding-bottom:50px">
    <div class="container d-flex flex-wrap align-items-center justify-content-around" style="max-width: 1300px;">
        <div class="row"><h2 class="display-5 m-2 heavy py-4">SECURITY IS OUR #1 PRIORITY</h2>
        </div>
    </div>
    <div class="container d-flex flex-wrap align-items-center justify-content-around  pb-5" style="max-width: 1300px;">

        <div class="row">
            <div class="p-2 col-3"
                style="border-left: 2px solid #b4232d; padding-left: 10px !important; padding-right: 30px !important;">
                <strong>HIPAA COMPLIANT</strong><br>
                <span style="font-size:.9em;">out of the box. Offering complete interoperability with your systems.
                    Whether you are utilizing an
                    EMR/EHR or a Print to Fax driver we can meet any need or requirement.</span>
            </div>

            <div class="p-2 col-3"
                style="border-left: 2px solid #b4232d; padding-left: 10px !important; padding-right: 30px !important;">
                <strong>SECURE FAX API</strong><br>
                <span style="font-size:.9em;">RESTful interface allows rapid implementation. We
                    go the extra mile and provide
                    developer lead integration. You work with our developers and get real world examples and
                    assistance.</span>
            </div>
            <div class="p-2 col-3"
                style="border-left: 2px solid #b4232d; padding-left: 10px !important; padding-right: 30px !important;">
                <strong>INTEROPERABILITY</strong><br>
                <span style="font-size:.9em;">Integrate cloud fax using API, print driver & MFCs. No matter your
                    integration needs, we have seen it
                    before. Contact us today at 303-299-9329 to discuss your particular use case.</span>
            </div>
            <div class="p-2 col-3"
                style="border-left: 2px solid #b4232d; padding-left: 10px !important; padding-right: 30px !important;">
                <strong>SECURE TLS 1.2</strong><br>
                <span style="font-size:.9em;">for transport and AES 256 Encryption. SSL alone doesn’t cut it. The
                    minimum standard for compliance is
                    TLS 1.2. We also Require SPF Validation as well.</span>
            </div>
        </div>
    </div>
</section>