<section class="subBannerA white py-4 px-0">
   <div class="row container mx-auto p-0">
       <div class="col-lg pl-0">
           <h2>All of our online fax to email plans have the following features:</h2>
           <ul style="font-size:18px;line-height: 2em;">
               <li>Send and receive faxes from your computer, phone or device.</li>
               <li>Unlimited storage — never lose a fax again</li>
               <li>Integrate our Internet Fax API in your application</li>
               <li>Private & secure — password protection, SSL, TLS encryption</li>
               <li>Print to Fax Software</li>
               <li>IOS and Android Apps</li>
               <li>Generous send / receive allowances</li>
               <li>Low overage rates</li>
           </ul>
       </div>
       <div class="col-lg pr-0">
           <img class="img-fluid" src="/img/pricing-page-email-example.png" alt="Email Example">
       </div>
   </div>
</section>