<footer class="footer container text-center subBannerA white">
    <div class="row">
        <div class="col-md-4 p-5 text-left">
            <h1 class="lead">Quicklinks</h1>
            <small>
                <a href="utility.html">Area Code Map</a><br />
                <a href="">Broadcast Fax</a><br />
                <a href="">HIPAA Compliant Fax</a><br />
                <a href="">Fax To Email</a><br />
                <a href="our-network.html">Our Network</a><br />
                <a href="broadcast-fax-faq.html">FAQ</a><br />
                <a href="blog.html">Blog</a><br />
                <a href="">Careers</a><br />
                <a href="how-to-send-a-fax-using-gmail.html">Send a Fax using Gmail</a><br />
                <a href="porting-form.html">Porting Form</a>
            </small>
        </div>
        <div class="col-md-4 p-5 text-left">
            <h1 class="lead">WESTFAX HQ</h1>
            <address>
                <strong>WestFax, Inc</strong><br>
                6565 South Dayton Street Suite 2350<br>
                Greenwood Village, CO 80111
            </address>
            Toll-Free: <a href="tel:8004736208">800-473-6208</a><br>
            Local: 303-299-9329<br>
            Fax 303-299-9309<br>
            <a href="mailto:info@westfax.com">info@westfax.com</a>
        </div>
        <div class="col-md-4 p-5">Contact Form here</div>
    </div>

    <!-- Sub footer (copyright, resource links, social media links) -->
    <div id="subfooter" class="align-items-center bg-white border-top border-left border-right border-secondary d-flex justify-content-around rounded-top" style="background-color: #333333;">
        <div class="p-2 text-dark">
            <span>&copy; 2020 WestFax, Inc. All rights reserved.</span>
        </div>
        <div class="p-2">
            <nav class="nav">
                <a class="nav-link" href="#">Sitemap</a>
                <a class="nav-link" href="#">XML</a>
                <a class="nav-link" href="privacy.html">Privacy Policy</a>
                <a class="nav-link" href="terms-and-conditions.html">Terms and Conditions</a>
                <a class="nav-link" href="contact-us.html">Contact</a>
            </nav>
        </div>
        <div class="p-2">
            <nav class="nav">
                <a href="https://www.facebook.com/westfaxinc/" class="mx-2 text-dark">
                    <i class="fab fa-facebook"></i><span class="sr-only">Facebook</span>
                </a>
                <a href="https://twitter.com/westfaxinc" class="mx-2 text-dark">
                    <i class="fab fa-twitter"></i><span class="sr-only">Twitter</span>
                </a>
                <a href="https://www.linkedin.com/company/westfax-inc./" class="mx-2 text-dark">
                    <i class="fab fa-linkedin"></i><span class="sr-only">LinkedIn</span>
                </a>
            </nav>
        </div>
    </div>

</footer>
<script src="js/all.js"></script>
</body>

</html>
