<footer class="footer container-fluid text-center subBannerA white" style="margin-top: 0;"> 
    <div class="container p-0">
        <div class="row">
            <div class="col-md-4 py-5 text-left">
                <h2 class="lead">Quicklinks</h2>
                <small>
                    <a href="https://www.youtube.com/channel/UC0D3bLTtIrl7lxhkX1wi6ag/featured" target="_blank">How-To Videos</a>
                    <a href="/broadcast-fax-faq/">FAQ</a><br />
                    <a href="/blog/">Blog</a><br />
                    <a href="/how-to-send-a-fax-using-gmail/">Send a Fax using Email</a><br />
                    <a href="/porting-form/">Porting Form</a><br/>
                    <a href="/network/">Our Network</a><br/>
                    <a href="/aboutus/">About Us</a><br/>


                </small>
            </div>
            <div class="col-md-4 py-5 text-left">
                <h2 class="lead">WESTFAX HQ</h2>
                <address>
                    <strong>WestFax, Inc</strong><br>
                    6565 South Dayton Street Suite 2350<br>
                    Greenwood Village, CO 80111
                </address>
                Toll-Free: <a href="tel:8004736208">800-473-6208</a><br>
                Local: 303-299-9329<br>
                Fax: 303-299-9309<br>
                <a href="mailto:info@westfax.com">info@westfax.com</a>
            </div>
            <div class="col-md-4 py-5 align-items-end text-right">
                <a href="/contact/"><img src="/img/seeMoreImac.png" class="img-fluid" style="max-width: 80%;" alt="Want to see more? Lets do a demo"></a>

            </div>
        </div>

        <!-- Sub footer (copyright, resource links, social media links) -->
        <div id="subfooter" class="align-items-center subBannerA white  d-flex justify-content-around rounded-top">
            <div class="py-2">
                <span>&copy; 2021 WestFax, Inc. All rights reserved.</span>
            </div>
            <div class="p-2">
                <nav class="nav small text-right align-items-end">
                    <a class="nav-link" href="/sitemap.xml">Sitemap</a>
                    <a class="nav-link" href="/sitemap.xml">XML</a>
                    <a class="nav-link" href="/privacy/">Privacy Policy</a>
                    <a class="nav-link" href="/terms-and-conditions/">Terms and Conditions</a>
                    <a class="nav-link" href="/contact/">Contact</a>
                </nav>
            </div>
            <div class="p-2">
                <nav class="nav">
                    <a href="https://www.facebook.com/westfaxinc/" target="_blank" class="mx-2">
                        <i class="fab fa-facebook"></i><span class="sr-only">Facebook</span>
                    </a>
                    <a href="https://twitter.com/westfaxinc"  target="_blank" class="mx-2">
                        <i class="fab fa-twitter"></i><span class="sr-only">Twitter</span>
                    </a>
                    <a href="https://www.linkedin.com/company/westfax-inc./"  target="_blank" class="mx-2 ">
                        <i class="fab fa-linkedin"></i><span class="sr-only">LinkedIn</span>
                    </a>
                    <a href="https://www.youtube.com/channel/UC0D3bLTtIrl7lxhkX1wi6ag/featured"  target="_blank" class="mx-2 ">
                        <i class="fab fa-youtube"></i><span class="sr-only">Youtube</span>
                    </a>
                </nav>
            </div>
        </div>
    </div>
</footer>
<script src="/js/all.js"></script>
</body>

</html>