<footer class="footer container-fluid text-center  subBannerA white">
        <div class="row">
            <div class="col-md-4 p-5 text-left">
                <p class="lead">Quicklinks</p>
                <small>
                    <a href="">Area Code Map</a><br/>
                    <a href="">Broadcast Fax</a><br/>
                    <a href="">HIPAA Compant Fax</a><br/>
                    <a href="">Fax To Email</a><br/>
                    <a href="">Our Network</a><br/>
                    <a href="">FAQ</a><br/>
                    <a href="">Blog</a><br/>
                    <a href="">Careers</a><br/>
                    <a href="">Send a Fax using Gmail</a><br/>
                    <a href="">Porting Form</a>
                </small>
            </div>
            <div class="col-md-4 p-5 text-left">
                <p class="lead">WESTFAX HQ</p>
                <address>
                <strong>WestFax, Inc</strong><br>
                6565 South Dayton Street  Suite 2350<br>
                Greenwood Village, CO 80111
            </address>
                Toll-Free: <a href="tel:8004736208">800-473-6208</a><br>
                Local: 303-299-9329<br>
                Fax 303-299-9309<br>
                <a href="mailto:info@westfax.com">info@westfax.com</a></div>
            <div class="col-md-4 p-5">Contact Form here</div>
        </div>
    <p>&copy; 2020 WestFax, Inc. All rights reserved.</p>
</footer>
<script src="js/all.js"></script>
</body>
</html>
