<section class="pt-4 pb-4 bg-tech" style="padding-top:50px !important; background-color: #444444;border-bottom: 3px solid #b4232d;">
    <div class="container-fluid" style="max-width: 1300px;">
        <div class="row">
            <h1 class="lato-900 lato-60" style="color:#EFEFEF">@@title</h1>
        </div>
        <div class="row">
            <h2 class="display-5 heavy" style="color:darkgrey">@@type</h2>
        </div>
        <div class="row">
            <br><span>
                <nav class="nav">
                    <a href="https://www.facebook.com/sharer/sharer.php?u=https://westfax.com/@@fbcano/" target="_blank" class="mx-2">
                        <i class="fab fa-facebook"></i><span class="sr-only">Facebook</span></a>
                    <a href="https://twitter.com/intent/tweet?url=https://westfax.com/@@twcano/&text=@@twtitle" target="_blank" class="mx-2">
                        <i class="fab fa-twitter"></i><span class="sr-only">Twitter</span></a>
                    <a href="https://www.linkedin.com/shareArticle?mini=true&url=https://westfax.com/@@licano/" target="_blank" class="mx-2 "><i class="fab fa-linkedin"></i><span class="sr-only">LinkedIn</span></a>
                </nav>
            </span>
        </div>
    </div>
</section>