<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link rel="stylesheet" href="/css/style.css" />
  <link rel="icon" href="/img/faviconNew.jpg" />
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/e0b5a20ab0.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js" crossorigin="anonymous"></script>
  <link rel="canonical" href="https://westfax.com/@@cano/"></link>

  <title>@@title</title>
  <meta name="description" content="@@metadesc" />
  <!--Google SEO-->
  <meta itemprop="name" content="@@g_title">
  <meta itemprop="description" content="@@g_metadesc">
  <meta itemprop="image" content="@@g_image">
  <meta name="apple-itunes-app" content="app-id=1354591610, app-argument=https://westfax.com">

  <partial src="google.html"></partial>
  <!-- Duplicate script? -->
  <script src="https://kit.fontawesome.com/e0b5a20ab0.js" crossorigin="anonymous"></script>
</head>

<body>
