<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link rel="stylesheet" href="/css/style.css" />
  <link rel="icon" href="/img/faviconNew.jpg" />
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/e0b5a20ab0.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js" crossorigin="anonymous"></script>
  <link rel="canonical" href="https://westfax.com/@@cano/"></link>

  <title>@@title</title>
  <meta name="description" content="@@metadesc" />
  <!--Google SEO-->
  <meta itemprop="name" content="@@g_title">
  <meta itemprop="description" content="@@g_metadesc">
  <meta itemprop="image" content="@@g_image">
  <meta name="apple-itunes-app" content="app-id=1354591610, app-argument=https://westfax.com">

  <partial src="google.html"></partial>
  <!-- Duplicate script? -->
  <script src="https://kit.fontawesome.com/e0b5a20ab0.js" crossorigin="anonymous"></script>
</head>

<body>
  <div class="container-fluid bg-white fixed-top">
  <nav class="container navbar navbar-expand-lg p-0">
    <a class="navbar-brand" href="/">
      <img src="/img/WestFax_Logo.png" height="64" alt="Westfax"/>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon">
        <i class="fas fa-bars"></i>
      </span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown mr-2">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
            aria-expanded="false">PRODUCTS</a>
          <div class="dropdown-menu rounded-0 pt-0">
            <div class="bg-secondary text-white py-2">
              <h4 class="text-nowrap ml-2 my-auto grey-header">FAX SERVICE</h4>
            </div>
            <a class="dropdown-item py-2 menu-regular" href="/pricing/">
              <i class="fa fa-building fa-10r"></i>
              BUSINESS FAX</a>
            <a class="dropdown-item py-2 menu-regular" href="/hipaa_details/">
              <i class="fa fa-notes-medical fa-10r"></i>
              HEALTHCARE FAX</a>
            <a class="dropdown-item py-2 menu-regular" href="/broadcast-fax/">
              <i class="fa fa-broadcast-tower fa-2r"></i>
              BROADCAST FAX</a>
            <div class="bg-secondary text-white py-2">
              <h4 class="ml-2 my-auto grey-header">TOOLS</h4>
            </div>
            <a class="dropdown-item py-2 menu-regular" href="/print-to-fax/">
              <i class="fa fa-print fa-10r"></i>
              PRINT TO FAX DRIVER</a>
            <a class="dropdown-item py-2 menu-regular" href="/faxtools/">
              <i class="fa fa-tools fa-10r"></i>
              FAX TOOLS</a>
            <a class="dropdown-item pt-2 pb-2 menu-regular" href="https://port.westfax.com/">
              <i class="fa fa-exchange-alt fa-10r"></i>
              PORTABILITY TEST</a>
          </div>
        </li>
        <li class="nav-item mr-2">
          <a class="nav-link" href="/api/">API</a>
        </li>
        <li class="nav-item dropdown mr-2">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
            aria-expanded="false">SUPPORT</a>
          <div class="dropdown-menu rounded-0 pt-0">
            <div class="bg-secondary text-white py-2">
              <h4 class="text-nowrap ml-2 my-auto grey-header">SUPPORT OPTIONS</h4>
            </div>
            <a class="dropdown-item py-2 menu-regular" href="/contact/">
              <i class="fa fa-phone-volume fa-10r"></i>
              CONTACT US</a>
            <a href="/api-quickstart/" class="dropdown-item py-2 menu-regular">
              <i class="fa fa-lightbulb fa-2r"></i>
              API QUICKSTART INFO</a>
            <div class="bg-secondary text-white py-2">
              <h4 class="text-nowrap ml-2 my-auto grey-header" aria-label="frequently asked questions">FAQ</h4>
            </div>
            <a class="dropdown-item py-2 menu-regular" href="/hipaa-compliant-fax-faq/">
              <i class="fa fa-question-circle fa-10r"></i>
              HIPAA COMPLIANT FAX FAQ</a>
            <a class="dropdown-item py-2 menu-regular" href="/secure-fax-api-faq/">
              <i class="fa fa-question-circle fa-10r"></i>
              SECURE FAX API FAQ</a>
            <a class="dropdown-item py-2 menu-regular" href="/broadcast-fax-faq/">
              <i class="fa fa-question-circle fa-10r"></i>
              BROADCAST FAX FAQ</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item py-2 menu-regular" href="/area-code-map/">
              <i class="fa fa-map fa-10r"></i>
              AREA CODE MAP</a>
          </div>
        </li>
        <li class="nav-item dropdown mr-2">
          <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
            aria-expanded="false">ABOUT</a>
          <div class="dropdown-menu rounded-0">
            <a href="/company/" class="dropdown-item py-2 menu-regular">
              <i class="far fa-building fa-10r"></i>
              COMPANY</a>
            <a href="/our-network/" class="dropdown-item py-2 menu-regular">
              <i class="fas fa-network-wired fa-2r"></i>
              OUR NETWORK</a>
            <a href="/agents-and-partners/" class="dropdown-item py-2 menu-regular">
              <i class="fas fa-handshake fa-2r"></i>
              AGENTS & PARTNERS</a>
          </div>
        </li>
        <li class="nav-item">
          <a href="/blog" class="nav-link">BLOG</a>
        </li>
        <li class="nav-item dropdown">
          <a href="" class="nav-link dropdown-toggle mr-2" data-toggle="dropdown" role="button" aria-haspopup="true"
            aria-expanded="false">LOGIN</a>
          <div class="dropdown-menu rounded-0">
            <a class="dropdown-item py-2 menu-regular" href="https://order.westfax.com/Login.aspx">
              <i class="fa fa-broadcast-tower fa-2r"></i>
              Broadcast Fax Login</a>
            <a class="dropdown-item py-2 menu-regular" href="https://home.westfax.com/">
              <i class="fas fa-fax fa-10r"></i>Fax to Email Login</a>
          </div>
        </li>
        <li class="nav-item">
          <a href="#" class="btn btn-md btn-primary mr-2 nav-link rounded-0" data-toggle="dropdown" role="button"
            aria-haspopup="true" aria-expanded="false" style="font-size:20px;font-weight:bold;"><span class="text-white">SIGN UP</span></a>
          <div class="dropdown-menu rounded-0 right-dropdown-padding">
            <a class="dropdown-item py-2 menu-regular" href="/hipaa/">
              <i class="fa fa-notes-medical fa-10r"></i>
              HIPAA Secure Fax</a>
            <a class="dropdown-item py-2 menu-regular" href="/pricing/">
              <i class="fa fa-building fa-10r"></i>
              Business Fax</a>
            <a class="dropdown-item py-2 menu-regular" href="/broadcast-fax-signup/">
              <i class="fa fa-broadcast-tower fa-2r"></i>
              Broadcast Fax</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</div>