<section class="jumbotron bg-white text-left justify-content-left align-items-left container-fluid p-2 mb-0 @@bg" style=" max-width: 1300px;">
    <div class="container-fluid my-5 p-0">
        <div class="col-md-12 p-0">
            <div class="row">
                <div class="col-lg-9 col-md-9 col-sm-12 pl-0">
                    <h1 class="display-5 lato-900 lato-60">
                        <strong>@@title</strong>
                    </h1>
                    <p class="lead mobile-hide " style="max-width:@@wrap">
                        @@desc
                    </p>
                    <p><a href="/@@btn1link/" class="btn-primary btn btn-lg mr-2 bold ">@@btn1Text</a></p>
                </div>
                <div class="col-md-3 col-sm-12 ">
                        <div class="text-center p-4">
                            
                            
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>