<section class="jumbotron bg-dark" id="@@id">
   <div class="align-items-center container d-flex text-light flex-wrap p-0">
     <div class="col-lg-9 col-md-9 col-sm-12 pl-0">
      <h1 class="display-5 lato-900 lato-60">
         <strong>@@title</strong>
       </h1>
       <p class="lead mobile-hide lato-900">
         @@desc
       </p>
     </div>
     <div class="col-md-3 col-sm-12">
       <a href="/@@link/">
       <div class="btn btn-sm bg-danger text-light text-center p-4">
         <h2 class="text-nowrap">
           <i class="fa fa-cloud"></i>
           @@btnTop</h2>
         <p>@@btnBot</p>
       </div>
     </a>
     </div>
   </div>
 </section>