<section class="jumbotron bg-dark text-left justify-content-left align-items-left container-fluid p-2 mb-0 @@bg" style="border-bottom:2px solid #b4232d">
    <div class="container-fluid my-5 p-0" style="max-width: 1300px;">
        <div class="col-md-12 p-0">
            <div class="row">
                <div class="col-lg-9 col-md-9 col-sm-12">
                    <h1 class="display-5 lato-900 lato-60" style="color: @@headerColor">
                        <strong>@@title</strong>
                    </h1>
                    <p class="lead2 mobile-hide " style="max-width:@@wrap;color:@@subColor;text-shadow: 2px 2px black">
                        
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>