<section class="jumbotron bg-white text-center justify-content-center align-items-center container-fluid p-2 mb-0 @@bg" style="border-bottom:2px solid #DDD">
    <div class="container my-5 p-0">
        <div class="col-md-12 p-0">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 pt-4">
                    <h1 class="display-5 lato-900 lato-60">
                        <strong>@@title</strong>
                    </h1>
                    <p class="lead mobile-hide lato-900">
                        @@desc
                    </p>
                    <p><a href="/@@btn1link/" class="btn-primary btn btn-lg mr-2 bold ">@@btn1Text</a></p>
                </div>
             
            </div>
        </div>
    </div>
</section>