
<section class="jumbotron mb-0 subBannerA container-fluid">
   <div class="container px-5">
     <div class="row pt-3 pb-3">
       <h2 class="display-5 text-white"><strong>WestFax knows HIPAA Compliant Cloud Fax</strong></h2>
     </div>
     <div class="row ml-4">
       <div class="col-md-3 text-center">
         <a href="/downloads/WestFax-Migration-Overview.pdf"><img src="/img/migration_cloud.png"
             class="mt-3 img-fluid rounded" alt="Migration"/></a>
         <p class="text-white mt-4">
           Check out our Migration overview to get insight on the actual migration process. Migrating from legacy
           platforms is our expertise.<br /><br /><strong><a class="btn btn-small btn-secondary"
               href="/downloads/WestFax-Migration-Overview.pdf" target="_blank">Download Now</a></strong>
         </p>
       </div>
       <div class="col-md-9">
         <ul class="white">
           <li class="mb-3"><strong>HIPAA COMPLIANT</strong><br />out of the box. Offering complete interoperability
             with
             your systems. Whether you are utilizing an EMR/EHR or a Print to Fax driver we can meet any need or
             requirement.</li>
           <li class="mb-3"><strong>SECURE TLS 1.2</strong><br />for transport and AES 256 Encryption. SSL alone
             doesn’t
             cut it. The minimum standard for compliance is TLS 1.2. Learn more.</li>
           <li class="mb-3"><strong>INTEROPERABILITY</strong><br />Integrate cloud fax using API, print driver & MFCs.
             No
             matter your integration needs, we have seen it before. Contact us today at 303-299-9329 to discuss your
             particular use case.</li>
           <li><strong>SECURE FAX API</strong><br />RESTful interface allows rapid implementation. Our developers love
             us! We go the extra mile and provide developer lead integration. You work with our developers and get real
             world examples and assistance.</li>
         </ul>
       </div>
     </div>
   </div>
 </section>