<section class="container-fluid bg-square" style="padding-top:100px !important;padding-bottom: 100px;border-bottom: 1px solid #ccc;border-top: 1px solid #ccc">


    <div class="row container-fluid mx-auto px-0 pt-5" style="max-width: 1300px;">
      <div class="col-lg p-0">
        <h2 class="lato-900">Getting started with the fax API</h2>
        <p class="lead2"> 
          It's easy to get started. Just <a href="#">register</a> as a developer, we'll
          get you credentials and just one look at our <a href="#">
            intuitive and interactive API documentation
          </a> will have you sending fax in less than an hour!
        </p>
        <a href="#" class="btn btn-primary btn-lg">GET STARTED!</a>
      </div>
      <div class="col-lg pl-0">
          <img class="img-fluid" src="/img/api_curl.png" alt="curl request">
        </div>
     
    </div>
  </section>
  