<div class="card-deck pricingH">
   <div class="card ml-0">
      <div class="card-body card-top">
         <h2>HIPAA Basic</h2>
      </div>
      <div class="card-body card-mid">
         <h5>MONTHLY PRICE</h5>
         <h3>
            $14.99
         </h3>
         <h5 class="red">
            Starter
         </h5>
      </div>

      <div class="card-body">
         500 Pages
         <hr />
         $0.03 overage
         <hr />
         5 Users
         <hr />
         Autoprint
         <hr />
         FaxDrive
         <hr />
         Print to Fax Driver
         <hr />
         BAA Available
         <hr />
         Free Trial
         <hr />
         Single Line Only
      </div>
      <div class="card-body card-footer">
         <a href="https://home.westfax.com/app/signup/start?code=Hipaa%20Basic"
            class="btn btn-primary btn-lg btn-block btn-signup">FREE TRIAL</a>
      </div>
   </div>
   <div class="card">
      <div class="card-body card-top">
         <h2>HIPAA 1500</h2>
      </div>
      <div class="card-body card-mid">
         <h5>MONTHLY PRICE</h5>
         <h3>
            $39.95
         </h3>
         <h5 class="red">
            Growth Plan
         </h5>
      </div>

      <div class="card-body">
         1500 Pages
         <hr />
         $0.03 overage
         <hr />
         5 Users
         <hr />
         AutoPrint
         <hr />
         FaxDrive
         <hr />
         Print to Fax Driver
         <hr />
         API Access
         <hr />
         BAA Available
         <hr />
         $4.95/addl line
      </div>
      <div class="card-body card-footer">
         <a href="https://home.westfax.com/app/signup/start?code=Hipaa%201500"
            class="btn btn-primary btn-lg btn-block btn-signup">SIGN UP</a>
      </div>
   </div>
   <div class="card">
      <div class="card-body card-top">
         <h2>HIPAA 5K</h2>
      </div>
      <div class="card-body card-mid">
         <h5>MONTHLY PRICE</h5>
         <h3>
            $89.95
         </h3>
         <h5 class="red">
            Medium Office
         </h5>
      </div>

      <div class="card-body">
         5000 Pages
         <hr />
         $0.025 overage
         <hr />
         Unlimited Users
         <hr />
         AutoPrint
         <hr />
         FaxDrive
         <hr />
         Print to Fax Driver
         <hr />
         API Access
         <hr />
         BAA Available
         <hr />
         $4.95/addl line
      </div>
      <div class="card-body card-footer">
         <a href="https://home.westfax.com/app/signup/start?code=Hipaa%205k"
            class="btn btn-primary btn-lg btn-block btn-signup">SIGN UP</a>
      </div>
   </div>
   <div class="card">
      <div class="card-body card-top">
         <h2>HIPAA 10K</h2>
      </div>
      <div class="card-body card-mid">
         <h5>MONTHLY PRICE</h5>
         <h3>
            $174.95
         </h3>
         <h5 class="red">
            Large Office
         </h5>
      </div>

      <div class="card-body">
         10000 Pages
         <hr />
         $0.025 overage
         <hr />
         Unlimited Users
         <hr />
         AutoPrint
         <hr />
         FaxDrive
         <hr />
         Print to Fax Driver
         <hr />
         API Access
         <hr />
         BAA Available
         <hr />
         $4.95/addl line
      </div>
      <div class="card-body card-footer">
         <a href="https://home.westfax.com/app/signup/start?code=HIPAA%2010K"
            class="btn btn-primary btn-lg btn-block btn-signup">SIGN UP</a>
      </div>
   </div>
   <div class="card">
      <div class="card-body card-top">
         <h2>HIPAA 20K</h2>
      </div>
      <div class="card-body card-mid">
         <h5>MONTHLY PRICE</h5>
         <h3>
            $349.95
         </h3>
         <h5 class="red">
            Growth Plan
         </h5>
      </div>

      <div class="card-body">
         20000 Pages
         <hr />
         $0.025 overage
         <hr />
         Unlimited Users
         <hr />
         AutoPrint
         <hr />
         FaxDrive
         <hr />
         Print to Fax Driver
         <hr />
         API Access
         <hr />
         BAA Available
         <hr />
         $4.95/addl line
      </div>
      <div class="card-body card-footer">
         <a href="https://home.westfax.com/app/signup/start?code=HIPAA%2020K"
            class="btn btn-primary btn-lg btn-block btn-signup">SIGN UP</a>
      </div>
   </div>
   <div class="card mr-0">
      <div class="card-body card-top">
         <h2>CUSTOM</h2>
      </div>
      <div class="card-body card-mid">
         <h5>MONTHLY PRICE</h5>
         <h3>
            $-._
         </h3>
         <h5 class="red">
            Enterprise
         </h5>
      </div>

      <div class="card-body">
         Custom Pages
         <hr />
         Low overage
         <hr />
         Unlimited Users
         <hr />
         AutoPrint
         <hr />
         FaxDrive
         <hr />
         Print to Fax Driver
         <hr />
         API Access
         <hr />
         BAA Available
         <hr />
         $4.95/addl line
      </div>
      <div class="card-body card-footer">
         <a href="/contact-custom/"
            class="btn btn-dark btn-lg btn-block btn-signup">CONTACT US</a>
      </div>
   </div>
</div>