<div class="card-deck pricing">
   <div class="card">
     <div class="card-body card-top">
       <h2>BASIC PLAN</h2>
     </div>
     <div class="card-body card-mid">
       <h5>MONTHLY PRICE</h5>
       <h2>
         $8.99
       </h2>
       <h5 class="red">
         Entrepreneur
       </h5>
     </div>
 
     <div class="card-body">
       500 Pages
       <hr />
       $0.03 overage

       <hr />
       $4.95/addl line
       <hr />
       1 User
       <hr />
       Free 10 Day Trial
       <hr />
       Print to Fax Driver
       <hr />
       Fax Tools
     </div>
     <div class="card-body card-footer">
       <a href="https://home.westfax.com/app/signup/start?code=Basic%20Plan" class="btn btn-primary btn-lg btn-block">FREE TRIAL</a>
     </div>
   </div>
 <div class="card">
     <div class="card-body card-top">
       <h2>FAX 1500</h2>
     </div>
     <div class="card-body card-mid">
       <h5>MONTHLY PRICE</h5>
       <h2>
         $29.99
       </h2>
       <h5 class="red">
         Small office
       </h5>
     </div>
 
     <div class="card-body">
       1500 Pages
       <hr />
       $0.03 overage

       <hr />
       $4.95/addl line
       <hr />
       5 Users
       <hr />
       Print to Fax Driver
       <hr />
       Fax Tools
       <hr/>
       API Access
     </div>
     <div class="card-body card-footer">
       <a href="https://home.westfax.com/app/signup/start?code=Fax%201500" class="btn btn-primary btn-lg btn-block">SIGN UP</a>
     </div>
   </div>
   <div class="card">
     <div class="card-body card-top">
       <h2>FAX 3K</h2>
     </div>
     <div class="card-body card-mid">
       <h5>MONTHLY PRICE</h5>
       <h2>
         $59.99
       </h2>
       <h5 class="red">
         Corporate
       </h5>
     </div>
 
     <div class="card-body">
       3000 Pages
       <hr />
       $0.03 overage

       <hr />
       $4.95/addl line
       <hr />
       50 Users
       <hr />
       Print to Fax Driver
       <hr />
       Fax Tools
       <hr/>
       API Access
     </div>
     <div class="card-body card-footer">
       <a href="https://home.westfax.com/app/signup/start?code=Fax%203K" class="btn btn-primary btn-lg btn-block">SIGN UP</a>
     </div>
   </div>
   <div class="card">
     <div class="card-body card-top">
       <h2>FAX 5K</h2>
     </div>
     <div class="card-body card-mid">
       <h5>MONTHLY PRICE</h5>
       <h2>
         $89.99
       </h2>
       <h5 class="red">
         LARGE CORPORATE
       </h5>
     </div>
 
     <div class="card-body">
       5000 Pages
       <hr />
       $0.03 overage

       <hr />
       $4.95/addl line
       <hr />
       Unlimited Users
       <hr />
       Print to Fax Driver
       <hr />
       Fax Tools
       <hr/>
       API Access
     </div>
     <div class="card-body card-footer">
       <a href="https://home.westfax.com/app/signup/start?code=Fax%205K" class="btn btn-primary btn-lg btn-block">SIGN UP</a>
     </div>
   </div>
   <div class="card">
     <div class="card-body card-top">
       <h2>CUSTOM</h2>
     </div>
     <div class="card-body card-mid">
       <h5>MONTHLY PRICE</h5>
       <h2>
         $-.-
       </h2>
       <h5 class="red">
         Enterprise
       </h5>
     </div>
 
     <div class="card-body">
       Custom Pages
       <hr />
       Low overage

       <hr />
       $4.95/addl line
       <hr />
       Unlimited Users
       <hr />
       Print to Fax Driver
       <hr />
       Fax Tools
       <hr/>
       API Access
     </div>
     <div class="card-body card-footer">
       <a href="/contact-custom/" class="btn btn-dark btn-lg btn-block">CONTACT US</a>
     </div>
   </div>
 </div>
 