<div class="card-deck pricingH col-sm-8">
   <div class="card ml-0">
      <div class="card-body card-top" style="max-height: 70px;">
         <h2>HIPAA Basic</h2>
      </div>
      <div class="card-body card-mid" style="max-height: 150px;">
         <h5>MONTHLY PRICE</h5>
         <h3>
            $14.99
         </h3>
         <h5 class="red">
            Starter
         </h5>
      </div>

      <div class="card-body card-center">
         500 Pages
         <hr />
         $0.03 overage
         <hr />
         1 User
         <hr />
         Print to Fax Driver
         <hr />
         BAA Available
         <hr />
         Free Trial
         <hr />
         Single Line Only
         <hr>
         Standard Support<br>
         online only
         <hr>
         Credit Card Only
      </div>
      <div class="card-body card-footer">
         <a href="https://signup.westfax.com/app/signup/start?code=Hipaa%20Basic"
            class="btn btn-primary btn-lg btn-block btn-signup">FREE TRIAL</a>
      </div>
   </div>
   <div class="card">
      <div class="card-body card-top" style="max-height: 70px;">
         <h2>HIPAA 1500</h2>
      </div>
      <div class="card-body card-mid" style="max-height: 150px;">
         <h5>MONTHLY PRICE</h5>
         <h3>
            $39.95
         </h3>
         <h5 class="red">
            Growth Plan
         </h5>
      </div>

      <div class="card-body card-center">
         1500 Pages
         <hr />
         $0.03 overage
         <hr />
         5 Users
         <hr />
         Print to Fax Driver
         <hr />
         API Access
         <hr />
         BAA Available
         <hr />
         $4.95/addl line
         <hr>
         Standard Support<br>
         online only
         <hr>
         Credit Card Only
      </div>
      <div class="card-body card-footer">
         <a href="https://signup.westfax.com/app/signup/start?code=Hipaa%201500"
            class="btn btn-primary btn-lg btn-block btn-signup">SIGN UP</a>
      </div>
   </div>
   <div class="card">
      <div class="card-body card-top" style="max-height: 70px;">
         <h2>HIPAA 3K</h2>
      </div>
      <div class="card-body card-mid" style="max-height: 150px;">
         <h5>MONTHLY PRICE</h5>
         <h3>
            $69.95
         </h3>
         <h5 class="red">
            Medium Office
         </h5>
      </div>

      <div class="card-body card-center">
         3000 Pages
         <hr />
         $0.025 overage
         <hr />
         25 Users
         <hr />
         Print to Fax Driver
         <hr />
         API Access
         <hr />
         BAA Available
         <hr />
         $4.95/addl line
         <hr>
         Standard Support<br>
         online only
         <hr>
         Credit Card Only
      </div>
      <div class="card-body card-footer">
         <a href="https://signup.westfax.com/app/signup/start?code=Fax%203K "
            class="btn btn-primary btn-lg btn-block btn-signup">SIGN UP</a>
      </div>
   </div>
  
   
   <div class="card mr-0" style="min-width:450px;">
      <div class="card-body card-top" style="max-height: 70px;">
         <h2>ENTERPRISE</h2>
      </div>
      <div class="card-body card-mid" style="max-height: 135px;">
         <h5>MONTHLY AND YEARLY PLANS</h5>
         <h3>
            CALL
         </h3>
         <h5 class="red">
            ALSO AVAILABLE THROUGH WESTFAX PARTNERS
         </h5>
      </div>
      <div class="row">
         <div class="col-6 small-options">     
             <div style="min-height:340px;">
            Net Billing Terms
            <hr />
            SSO/AD Sync
            <hr />
            FaxDrive/AutoPrint
            <hr />
            MFP/MFD Integration
            <hr />
            Print to Fax Driver
            <hr />
            Adv. Admin Features
            <hr/>
            OCR Available
            <hr />
            OCR to Direct Message Protocol
            <hr/>
            API Access
            <hr>
            Fax Metadata access
            <hr>
            White Label Portal
         </div>
   </div>
   <div class="col-6 small-options">      
      <div style="min-height:340px;">
      Priority Call Routing
      <hr />
      PGP Security
      <hr />
      Security Auditing Tools
      <hr />
      Webhooks (inbound/outbound)
      <hr />
      EHR Integration
      <hr />
      FaxConnect
      <hr>
      Custom Coverpages
      <hr>
      Secure FTP Access
      <hr>
      Unlimited Storage
      <hr>
      24/7 Live Support
      <hr>
      SLA Agreement
   </div>
</div>
      </div>
      <div class="card-body card-footer">
         <a href="/contact-custom/"
            class="btn btn-primary btn-lg btn-block btn-signup">CONTACT US</a>
      </div>
   </div>
</div>