<section class="jumbotron mb-0" id="@@id">
   <div class="align-items-center container d-flex flex-wrap p-0">
       <div class="col-8 pl-0">
           <h1 class="text-dark display-2">
               <strong>@@title</strong>
           </h1>
           
       </div>
       <div class="col-4 pr-0 text-right">
           <a href="/downloads/@@download">
           <div class="btn btn-md bg-danger text-light text-center p-4">
               <h3> <i class="fa fa-download"></i>@@btnTop</h3>
               <span>
                   @@btnBot
               </span>
           </div>
        </a>
       </div>
   </div>
</section>