
<section class="mt-4 mb-4">
    <div class="container d-flex flex-wrap align-items-center justify-content-around">
      <div class="p-2">
        <a href="https://www.capterra.com/p/176040/WestFax/" target="_blank">
          <img class="img-fluid rev-block" src="/img/capterrareview.png" alt="Capterra">
        </a>
      </div>
      <div class="p-2">
        <a href="https://www.g2.com/products/westfax/reviews" target="_blank">
          <img class="img-fluid rev-block" src="/img/g2.png" alt="G2">
        </a>
      </div>
      <div class="p-2">
        <a href="https://sourceforge.net/software/fax-server/" target="_blank">
          <img class="img-fluid rev-block" src="/img/source.png" alt="Avoid Spam Filters">
        </a>
      </div>
      <div class="p-2">
        <a href="https://www.google.com/search?q=westfax+colorado&rlz=1C5CHFA_enUS943US943&oq=westfax+colorado&aqs=chrome..69i57.6716j0j4&sourceid=chrome&ie=UTF-8" target="_blank">
          <img class="img-fluid rev-block" src="/img/google5.jpg" alt="HIPAA Compliant">
        </a>
      </div>
    </div>
  </section>
 
  