<section class="mt-4 mb-4" style="min-width: 1300px;">
    <div class="container-fluid d-flex flex-wrap align-items-center justify-content-around p-0">
        <div class="col-md-4 col-lg-4 col-sm-12 mx-auto justify-content-center text-center" style="background-color: #F3F3F3; border-right:1px dotted #333;" >
            <img src="/img/3_hipaa_plan.png" class="p-3 mx-auto justify-content-center text-center" /><br />
            <h3 class="display-5 mx-auto">HIPAA COMPLIANT FAX</h3>
                <p class="mx-auto pb-3">Whether you are a small medical practice or large healthcare network we have the scalability to handle any fax volume. Secure, HIPAA Compliant and ready today!</p>
                <a href="#" class="btn-secondary btn-lg"><strong>EXPLORE PLANS</strong></a>

      <br><br>  </div>
        <div class="col-md-4 col-lg-4 col-sm-12 mx-auto justify-content-center text-center" style="background-color: #F3F3F3;" >
            <img src="/img/3_api_plan.png" class="p-3 mx-auto justify-content-center text-center" /><br>
            <h3 class="display-5 mx-auto">HIPAA FAX API</h3>
                <p class="mx-auto pb-3">Our HIPAA Compliant FAX API is loved by developers for ease of setup and has all the capabilities required even the most demanding integrations. Integrate today!</p>
                <a href="#" class="btn-secondary btn-lg"><strong>INTEGRATE TODAY</strong></a><br><br>

        </div>
        <div class="col-md-4 col-lg-4 col-sm-12 mx-auto justify-content-center text-center" style="background-color: #F3F3F3; border-left:1px dotted #333;" >
            <img src="/img/3_custom_plan.png" class="p-3 mx-auto justify-content-center text-center" /><br>
            <h3 class="display-5 mx-auto">CUSTOM FAX PLAN</h3>
                <p class="mx-auto pb-3">With WestFax there is no “outside the box”. We have seen it all. Custom fax workflow, custom reporting and routing. We thrive where the competition fails. </p>
                <a href="#" class="btn-secondary btn-lg"><strong>GET A QUOTE</strong></a>
     <br><br>   </div>
    </div>
</section>