<section class="container-fluid pt-5 pb-5" style="background-color: #eeeeee;">
   <div class="container px-5">
     <div class="row mb-4">
       <h2 class="display-5"><strong>The WestFax Difference</strong></h2>
     </div>
     <div class="row">
       <div class="col-md-7">
         <ul class="mediumFont fa-ul">
           <li class="mb-4">
             <span class="fa-li"><i class="fas fa-check-square redFax"></i></span><strong>EASY MIGRATION. EAST PORTING
             </strong><br />We have a lot of experience migrating customers from RightFax.
           </li>
           <li class="mb-4">
             <span class="fa-li"><i class="fas fa-check-square redFax"></i></span><strong>NO LONG TERM
               COMMITMENT</strong><br />No more licenses or seats. Enterprise doesn’t mean expensive.
           </li>
           <li class="mb-4">
             <span class="fa-li"><i class="fas fa-check-square redFax"></i></span><strong>100% CLOUD BASED
               PLATFORM</strong><br />No expensive fax server hardware. All features included by default.
           </li>
           <li class="mb-4">
             <span class="fa-li"><i class="fas fa-check-square redFax"></i></span><strong>DEDICATED IMPLEMENTATION
               TEAM</strong><br />No more tech support roulette. We assign you a dedicated rep.
           </li>
         </ul>
       </div>
 
       <div class="col-md-5">
         <a href="/downloads/WestFax-Interoperability_062020.pdf"
           target="_blank"><img
             src="/img/LinkedIn_post_HIPAA1.jpg?fit=1200%2C628&ssl=1"
             style="width: 100%; border-radius: 10px; border: 3px solid #333;"  alt="Download our HIPAA Security Matrix" /></a>
         <p class="mt-2 text-center">
           <strong><a
               href="/downloads/WestFax-Interoperability_062020.pdf">DOWNLOAD
               OUR HIPAA SECURITY MATRIX</a></strong> <br />Download our simple 4 page report that distills the WestFax
           HIPAA compliance measures into an easy to digest format.
         </p>
       </div>
     </div>
   </div>
 </section>